.wrapper {
    width: auto;
    height: 400px;
}

#ball {
    background: linear-gradient(red,violet, blue, green, yellow, orange);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: auto;
    transition: top 400 0;
}

